<%= form_for :recipe, url: recipes_path do |f| %>
  <div class="field">
    <%= f.label :course %><br>
    <%= f.text_field :course %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  <div class="field">
    <%= f.label :ingredients %><br>
    <%= f.text_field :ingredients %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>