<h1>Recipe</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Name</th>
      <th>Ingredients</th>
      <th>Duration</th>
      <th>Description</th>
     </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.course %></td>
        <td><%= recipe.name %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.duration %></td>
        <td><%= recipe.description %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New recipe', new_recipe_path %>
