<!DOCTYPE html>
<html>
<head>
  <title>Justjessy</title>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css" />
<link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<script src="//railsgirls.com/assets/bootstrap.js"></script>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Just Jessy</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%=link_to "About me", pages_path%></li>
        <li><%=link_to "Recipes", recipes_path%></li>
        <li><%=link_to "Travel stories", ideas_path%></li>
      

      </ul>
    </div>
  </div>
</nav>
  <div class="container">
	 <%= yield %>
  </div>
  </body>
  <footer>
  <div class="container">
    Just Jessy 2014
  </div>
</footer>

</html>
